<div class="page">
    <app-page-header title="Central de Atendimento" subtitle="Gerenciamento de tickets de serviço"
        logoSrc="assets/images/cni-logo.svg">
    </app-page-header>
   <section class="search-bar actions">
  <app-search-input (search)="onSearch($event)"></app-search-input>

  <button
    pButton
    label="Novo Ticket"
    icon="pi pi-plus"
    class="cni-button"
    routerLink="/tickets/new"
  ></button>
</section>
    <section class="table-wrapper">
        <app-ticket-table [tickets]="tickets" [loading]="loading" [globalFilter]="filterValue">
        </app-ticket-table>
    </section>
</div>