<p-card class="table-card">
    <p-table #table [value]="tickets" [loading]="loading" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'"
        dataKey="id" [globalFilterFields]="['title', 'description', 'category']"
        styleClass="p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Categoria</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-ticket>
            <tr>
                <td>{{ ticket.id }}</td>
                <td class="title-cell">{{ ticket.title }}</td>
                <td class="description-cell">{{ ticket.description }}</td>
                <td>
                    <span class="category-badge">
                        {{ ticket.category }}
                    </span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4" class="empty">
                    Nenhum ticket encontrado
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>